<manifest xmlns:android="http://schemas.android.com/apk/res/android"    package="com.mogoal.TencentAd">    <application        android:allowBackup="true"        android:label="@string/app_name"        android:supportsRtl="true">        <activity            android:name=".SplashActivity"            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">        </activity>        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />    </application></manifest>